.secSlider {
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding-bottom: 30px;
}

.secSlider h2 {
  margin: 120px 20px 0 20px;
  text-align: center;
  font-size: 23px;
  font-weight: 800;
}

.sliderContainer {
  width: 1200px;
  margin: 84px 0 84px 0;
  position: relative;
  height: 389px;
}

.sliderWrapp {
  width: max-content;
  height: 100%;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.5s;
}

/* decoration */

.sphere {
  position: absolute;
  bottom: calc(100% - 200px);
  right: calc(100% - 200px);
}

.wave {
  position: absolute;
  top: calc(100% - 120px);
  left: calc(100% - 400px);
}

@media(max-width: 1200px) {
  .sliderContainer {
    height: 600px;
    margin: 84px auto;
  }

  .wave {
    top: calc(100% - 120px);
    left: calc(100% - 150px);
  }
}

@media(max-width: 910px) {
  .sliderContainer {
    width: 455px;
    overflow: hidden;
  }

  .sphere {
    bottom: calc(100% - 100px);
  }
}

@media(max-width: 480px) {
  .sliderContainer {
    width: 355px;
    height: 550px;
    overflow: hidden;
    margin: 25px 0 25px 0;
  }

  .secSlider h2 {
    margin-top: 40px;
  }

  .sphere {
    width: 38px;
    height: 38px;
    right: calc(100% - 20px);
    bottom: calc(100% - 50px);
  }

  .wave {
    display: none;
  }
}

